= simple_form_for @article, url: moderation_article_path(@article.id) do |form|
  = form.input :state_event, as: :state_event
  = form.input :category_id, collection: Article::Category.pluck(:name, :id)

  = form.button :submit
